.autotest
.rspec
.bundle
db/*.sqlite3
log/*
tmp/*
config/newrelic.yml
config/deploy/development.rb
config/environments/development.rb
config/database.yml
config/developers
.DS_Store
*.swp
.idea/*
*.rails2
*.back
vendor/plugins/rails_upgrade
*~
.not-a-newb
Gemfile.lock
*.gem
spec/dummy/log/*
spec/dummy/tmp/*
